.navbar {
  background-color: black;
  @media (min-width: 768px) { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  a:not(.btn):not(.dropdown-item).active:hover {
    color: #{$gray-300};
  }
 }

 .navbar-toggler {
  background-color: var(--navbar-toggler-color);
  padding: 0.1rem;
  margin-right: 0.5rem;
 }