:root {
  --body-background: #f2f2f2;
  --body-color: #444;
  --heading-color: black;
  --action-color: black;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

body > header {
  margin: 1rem;
  text-align: center;
  background-color: black;
}

body > header img {
  display: inline-block;
  /* width: 400px; */
  max-width: 100%;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  max-width: 65rem;
  min-height: calc(100vh - 200px);
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

img.feature {
  width: 50%;
  height: 50%;
}

.canvas {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  text-align: center;
  margin-bottom: 1rem;
  &.gray100-canvas {
    background-color: #eeeeee;;
  }  
  &.black-canvas {
    background-color: black;
    padding-top: 0;
    padding-bottom: 0;
  }  
  &.embossed {
    box-shadow: 1px 3px 6px black;
    border-radius: 0.375rem;
  }
  .inner-form {
    background-color: white;
    padding: 1rem;
    box-shadow: 1px 3px 6px black;
    border-radius: 0.375rem;
  }  
  .cancel {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }  
  &.width32 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    @media (min-width: 768px) { 
      width: 32rem;
      margin-left: auto;
      margin-right: auto; 
    }
  }
}