<%# https://mdbootstrap.com/snippets/standard/mdbootstrap/2885008#html-tab-view %>
<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
  <section class="d-flex justify-content-between p-4" style="background-color: black">

  </section>

  <section class="pb-3">
    <div class="container text-center mt-5">
      <h6 class="text-uppercase fw-bold">Contact</h6>
      <hr class="mb-3 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
      <p><i class="fas fa-envelope mr-3"></i> <%= metadata.email %></p>
      <p><i class="fas fa-phone mr-3"></i></p>
      <p><i class="fas fa-print mr-3"></i></p>
    </div>
  </section>

</footer>

